body{
    margin: 35px;
}

.bg{
    /* background-image: url('highway.jpg'); */
    background-image: url('bg_1.jpg');
    background-size: cover;
    background-attachment: scroll;
}
.bg{
    width: 100%;
    height: 100vh;
    border-radius: 20px;
}

h2{
    text-align: left;
    padding-top: 15%;
    color: darkred;
    font-size: 40px;
    margin-left: 20px;
}

button{
    border-radius: 15px;
    font-size: 20px;
    padding: 10px;
    background: transparent;
    color: black;
    border: 2px solid black;
    margin-left: 20px;
}

.text1{
    margin-top: 25px;
    padding-top: 5px;
    border: 2px solid darkgreen;
    border-radius: 10px;
    padding-left: 40px;
    height: 80vh;
}

h1{
    padding-left: 32px;
}

#btn{
    background-color: lightblue;
    color: black;
    font-weight: bold;
}

p{
    padding-top: 20px;
    margin: 0 30px 0 30px;
    font-size: 22px;
}

